.carta{
    width: 200px;
    margin: auto;
    margin-top: 20px;
    padding: 10%;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.341);
    box-shadow: 0px 0px 6px 1px rgba(46, 46, 46, 0.562);
    text-align: center;
    ion-label{
        margin-top: 5px;
    }
    img{
        margin-bottom: 10px;
    }
}

.btnfooter{
    .boton1{
        margin-left: 30%;
    }
    .boton2{
        margin-left: 10px;
    }
}