<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="carta">
    <img aling="center" src="./assets/person_box.png" />
    <ion-label></ion-label>
    <hr>
    <ion-button (click)="mensajeLogout()" expand="block" fill="clear" shape="round">
      Cerrar Sesión
    </ion-button>
  </div>
</ion-content>

</ion-content>

    <!--inicio footer-->
    <ion-footer> 
      <ion-toolbar>
        <div class="btnfooter">
          <ion-button class="boton1" color="medium" [routerLink]="['/inicio-docente']" ><ion-icon name="home-outline" ></ion-icon></ion-button>
      
          <ion-button class="boton2" color="medium"  [routerLink]="['/cursos']"><ion-icon name="book-outline"></ion-icon></ion-button>
      
          <ion-button class="boton3" color="tertiary" [routerLink]="['/perfil']"><ion-icon name="person-outline"></ion-icon></ion-button>
        </div>
      </ion-toolbar>
    </ion-footer>
    <!--fin del footer-->
  