.btnfooter{
    .boton1{
        margin-left: 15%;
    }
    .boton2{
        margin-left: 9%;
    }
    .boton3{
        margin-left: 9%;
    }
}

ion-content{
    --background: rgb(199, 199, 199);
 p{
    font-size:11px;
    line-height:22px;
    font-weight: 300;
    color:chocolate;


    margin: 0;
 }
}